.headerText {
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 850px){
    .headerText{
        font-size:2em;
    }

    .headerDescription {
        display: none;
    }
}

